/* Reset Minimo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a {
    color:#333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}
/* UTILIDADES */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.text-primary {
    color: crimson;
}
.btn {
    display: inline-block;
    background-color: crimson;
    color: yellow;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 10px;

}
/* Colores Para Reutilizar */
.bg-dark {
    background-color: crimson;
    color: yellow;
}
.bg-light {
    background-color: yellow;
    color: crimson;
}
.bg_primary {
    background-color: black;
    color: crimson;
}
.btn:hover {
    background-color: orange;
    color: black;
}
.btn-info {
    display: inline-block;
    background-color: orange;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-info:hover {
    background-color: yellow;
    color: crimson;
}
.text-primary-info {
    color: black;
}
/* NAVBAR */
#top-menu {
    background-color: crimson;
    color: yellow;
}

#top-menu a {
    color: yellow;
}

#top-menu h1 {
    float: left;
    padding: 20px;
}

#top-menu ul {
    list-style: none;
    float: right;
}

#top-menu ul li {
    float: left;
}

#top-menu ul li a {
    padding: 20px;
    display: block;
    text-align: center;
}

#top-menu ul li a:hover {
    background-color: orange;
    color:black;
}

/* SHOWCASE */
#showcase {
    height: 400px;
    background: url('../imagenes_random_hotel/showcase.jpg') no-repeat center/cover;
}

#showcase .showcase-content {
    color: yellow;
    text-align: center;
    padding-top: 100px;
}

#showcase .showcase-content h2 {
    font-size: 2em;
}

#showcase .showcase-content p {
    font-size: 1.5em;
}

/* INFO */
#info {
    height: 320px;
    overflow: auto;
}

#info .info-img {
    background: url('../imagenes_random_hotel/photo-1.jpg') no-repeat;
    float: left;
    width: 50%;
    min-height: 100%;
}

#info .info-content {
    text-align: center;
    float: right;
    width: 50%;
    min-height: 100%;
    padding: 50px 30px;
}

#info .info-content h2 {
    font-size: 1.5em;
}

#info .info-content p {
    font-size: 1em;
}

/* FEATURES */
.box {
    width:33.3%;
    float: left;
    padding: 50px;
    text-align: center;
}
.box i {
    font-size: 3em;
    margin-bottom: 6px;
}


/* FOOTER */
#main-footer {
    text-align: center;
    padding: 20px;
}
.crl {
    clear: both;
}

/* ABOUT */
#about-info {
    height: 200px;
}
#about-info .info-right {
    float: right;
    width: 50%
}

#about-info .info-left {
    text-align: justify;
    float: left;
    width: 50%;
}
    #about-info .info-left h2 {
    font-size: 2em;
}
#about-info .info-left p {
    font-size: 1em;
}