/* HEADER */
.bk-main {
    background-color: gray;
    background-image: none;
}
#mainheader {
    height: 800px;
}

.logo {
    float: none;
}

.nav {
    float: none;
}

/* NAVBAR */
.navbar {
    padding: 0;
}

/* SHOWCASE */
.display-1 {
    font-size: 2rem;
}

.p-1 {
    padding: 60px;
}

/* PROJECTS */
 #projects {
    text-align: center;
 }

 #projects img {
    padding: 20px;
 }
 .flex-3 {
    flex-direction: column;
}

/* BENEFITS */
#benefits i {
    padding: 20px;
}