/* HEADER */
.bk-main {
    background-color: gray;
    background-image: none;
}

.logo {
    float: none;
}

.nav {
    float: none;
}

/* NAVBAR */
.navbar {
    padding: 0;
}

/* SHOWCASE */
.display-1 {
    font-size: 2rem;
}

.p-1 {
    padding: 60px;
}

/* PROJECTS */
 #projects {
    text-align: center;
 }
 .flex-3 {
    flex-direction: column;
}